/* HELPER ******************************************************* */
/*@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
*/
.button{
	text-decoration: underline;
}

.white { color: #fff; }

.black { color: #000; }

.ir { background-color: transparent; border: 0; overflow: hidden; text-indent: -9999px; }

/* TYPOGRAPHY ******************************************************* */
/* GENERIC ******************************************************* */
* { font-family: "Lato", sans-serif; color: #364940; }

h2 { display: block; margin: 20px auto; color: #696969; font-size: 17px; text-transform: uppercase; text-align: center; font-weight: 300; }
h2 span { color: #696969; font-size: 32px; vertical-align: middle; font-weight: 300; }

h3 { font-size: 17px; text-transform: uppercase; }

h3 span { font-size: 68px; font-weight: light; opacity: 0.3; }

p { letter-spacing: 1px; line-height: 30px; }

/* INTRO AND MENU ******************************************************* */
div.topline { background-color: #21b9b0; background-image: -moz-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); background-image: -webkit-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); background-image: -o-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); background-image: -ms-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); background-image: linear-gradient(270deg, #21b9b0 0%, #54606e 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); height: 1px; }

nav { margin-top: 20px; }
nav ul { margin: 0; padding: 0; list-style: none; text-align: center; }
nav ul li { display: inline; }
nav ul li a { color: #696969; font-size: 12px; }
nav ul li:nth-child(2n) { margin-left: 60px; margin-right: 60px; }

h1 { margin: 30px auto 50px auto; width: 220px; height: 171px; background: url(logo.svg) no-repeat center center; background-size: contain; }

p.quote { text-align: center; font-size: 23px; line-height: 45px; font-weight: 300; letter-spacing: 1px; }

/* SECTION 1 ******************************************************* */
.section1 { overflow: visible !important; position: relative; margin-top: 400px; min-height: 500px; }
.section1 .screen_intro { position: absolute; z-index: 4; left: 0; right: 0; top: -380px; margin: 0 auto; max-width: 300px; }
.section1 .screen_intro img { width: 100%; }
.section1 p.quote { margin-top: 60px; }
.section1 .detail { text-align: center; margin-top: 0; }
@media (max-width: 767px) { .section1 .detail { margin-top: 30px; } }
.section1 .detail div { padding-top: 50px; margin-top: 20px;       /*&.easy{ background:url(../images/icon_temp.png) no-repeat top center} &.safe{ background:url(../images/icon_temp.png) no-repeat top center } &.complete{ background:url(../images/icon_temp.png) no-repeat top center }
*/ }
@media (max-width: 767px) { .section1 .detail div { margin-top: 10px; padding-top: 20px; } }
.section1 .detail div p { font-size: 15px; font-weight: 300; }
.section1 .appstore { margin: 200px auto 0 auto; width: 147px; height: 42px; display: block; }

/* SECTION 2  ******************************************************* */
.section2 .detail { margin-top: 70px; }
@media (max-width: 767px) { .section2 .detail { margin-top: 0px; } }
.section2 .left, .section2 .right { color: #696969; }
.section2 .left p, .section2 .right p { color: #696969; }
.section2 .left h3, .section2 .right h3 { margin-top: 60px; }
.section2 .left h3:nth-child(3), .section2 .right h3:nth-child(3) { margin-top: 100px; }
@media (max-width: 767px) { .section2 .left h3:nth-child(3), .section2 .right h3:nth-child(3) { margin-top: 20px; } }
@media (max-width: 767px) { .section2 .left h3:nth-child(1), .section2 .right h3:nth-child(1) { margin-top: 0px; } }
.section2 .left { text-align: right; }
@media (max-width: 767px) { .section2 .left { text-align: center; }
  .section2 .left h3 { text-align: center; padding: 30px 0 0 0; } }
.section2 .right { text-align: left; }
@media (max-width: 767px) { .section2 .right { text-align: center; }
  .section2 .right h3 { text-align: center; padding: 30px 0 0 0; } }
@media (max-width: 767px) { .section2 .duedate { background-position: center top; } }
@media (max-width: 767px) { .section2 .countdown { background-position: center top; } }
@media (max-width: 767px) { .section2 .priority { background-position: center top; } }
@media (max-width: 767px) { .section2 .alarm { background-position: center top; } }
.section2 .center { text-align: center; }

/* SECTION 3 ****************************************************** */
.section3 .detail { text-align: center; margin-top: 70px; }
@media (max-width: 767px) { .section3 .detail { margin-top: 100px; } }
.section3 .detail div { text-align: center; margin-top: 20px; /*&.tasklist{ background:url(../images/icon_temp.png) no-repeat top center}
&.taskorder{ background:url(../images/icon_temp.png) no-repeat top center }
&.donelist{ background:url(../images/icon_temp.png) no-repeat top center }
*/ }
@media (max-width: 767px) { .section3 .detail div { margin-top: 50px; } }
.section3 .detail div p { font-size: 15px; font-weight: 300; }

/* SECTION 4 ******************************************************** */
.section4 p.quote { color: #696969; font-size: 20px; }
.section4 img { margin: 70px auto 0 auto; }

/* SECTION 5 ******************************************************** */
.section5 { text-align: center; }
.section5 h2 { color: #fff; }
.section5 p.quote { font-size: 21px; }
.section5 p.mini { line-height: 18px; font-size: 14px; font-weight: 300; text-align: center; }
.section5 ul { margin: 50px auto; padding: 0; list-style: none; text-align: center; }
.section5 ul li { position: relative; display: inline; text-align: center; height: 50px; }
.section5 ul li a.twitter { position: absolute; right: 10px; display: block; width: 51px; height: 42px; opacity: 0.8; }
.section5 ul li a.twitter:hover { opacity: 1.0; }
.section5 ul li a.email { position: absolute; left: 10px; display: block; width: 73px; height: 42px; opacity: 0.8; }
.section5 ul li a.email:hover { opacity: 1.0; }
.section5 a.press { width: 150px; height: auto; color: #fff; background-color: rgba(255, 255, 255, 0.2); border-radius: 50px; text-align: center; font-size: 13px; text-transform: uppercase; padding: 10px; }
.section5 a.press:hover { text-decoration: none; background-color: rgba(255, 255, 255, 0.7); color: #905488; }
.section5 a.press:hover span { color: #905488; }
.section5 a.press span { font-size: 20px; vertical-align: top; }
.section5 .iHateSpacers { height: 100px; }
.section5 p.credits { margin-top: 100px; font-weight: 300; font-size: 12px; }
.section5 p.credits a { color: #fff; }

/* PARALLAX INFO ******************************************************* */
.parallax [class*="section"] { position: relative; background-attachment: fixed; background-position: top center; background-size: cover; overflow: hidden; padding: 70px 0 100px 0; }

.parallax [class*="section"]:nth-child(2n) { box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); z-index: 2; position: relative; }

.parallax .section1 { background-color: #54606e; background-image: -moz-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -webkit-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -o-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -ms-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: linear-gradient(180deg, #54606e 0%, #21b9b0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); }

.parallax .section3 { background-color: #54606e; background-image: -moz-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -webkit-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -o-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -ms-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: linear-gradient(180deg, #54606e 0%, #21b9b0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); }

.parallax .section4 { background: #fff; }

.parallax .section5 { background-color: #54606e; background-image: -moz-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -webkit-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -o-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -ms-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: linear-gradient(180deg, #54606e 0%, #21b9b0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); padding-bottom: 20px !important; }

/*# sourceMappingURL=style.css.map */