/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

/*---make a basic box ---*/
.box{
width: 200px;
height: 200px;
position: relative;
margin: 10px;
float: left;
border: 1px solid #333;
background: #999;
}

/* INTRO AND MENU ******************************************************* */
div.topline { background-color: #21b9b0; background-image: -moz-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); background-image: -webkit-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); background-image: -o-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); background-image: -ms-linear-gradient(270deg, #21b9b0 0%, #54606e 100%); 
background-image: linear-gradient(270deg, #21b9b0 0%, #54606e 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); height: 1px; }


/* PARALLAX INFO ******************************************************* */
.parallax [class*="section"] { position: relative; background-attachment: fixed; background-position: top center; background-size: cover; overflow: hidden; padding: 70px 0 100px 0; }

.parallax [class*="section"]:nth-child(2n) { box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); z-index: 2; position: relative; }

.parallax .section1 { background-color: #54606e; background-image: -moz-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -webkit-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -o-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -ms-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: linear-gradient(180deg, #54606e 0%, #21b9b0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); }

.parallax .section3 { background-color: #54606e; background-image: -moz-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -webkit-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -o-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -ms-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: linear-gradient(180deg, #54606e 0%, #21b9b0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); }

.parallax .section4 { background: #fff; }

.parallax .section5 { background-color: #54606e; background-image: -moz-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -webkit-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -o-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: -ms-linear-gradient(180deg, #54606e 0%, #21b9b0 100%); background-image: linear-gradient(180deg, #54606e 0%, #21b9b0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1); padding-bottom: 20px !important; }

/* GENERIC ******************************************************* */
* { font-family: "Lato", sans-serif; color: #696969; }

h1 { display: block; margin: 20px auto; color: #ea4f4f; font-size: 25px; text-transform: uppercase; text-align: center; font-weight: 400; }
h1 span { color: #ea4f4f; font-size: 32px; vertical-align: middle; font-weight: 300; }

h2 { display: block; margin: 20px auto; color: #696969; font-size: 17px; text-transform: uppercase; text-align: center; font-weight: 300; }
h2 span { color: #696969; font-size: 32px; vertical-align: middle; font-weight: 300; }

h3 { font-size: 17px; text-transform: uppercase; }
h3 span { font-size: 68px; font-weight: light; opacity: 0.3; }

p { letter-spacing: 1px; line-height: 30px; }